BOT_TOKEN=
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/vldst
WEBAPP_URL=https://YOUR-RENDER-APP.onrender.com
PUBLIC_URL=https://YOUR-RENDER-APP.onrender.com
ADMIN_IDS=
SECRET_KEY=change-this-secret
